body {
	font-family: 'Open Sans Condensed';
	padding: 20px 80px;
}

a {
	text-decoration: none;
	color: black;
}

* {
	box-sizing: border-box;
}

@import "./homepage-styles";
@import "./collectionPreviev-styles";
@import "./navigation-styles";
@import "./signIn-and-SignUp-styles";
